# Generic iCEstick placement constraints file

# Red LEDs
set_io -nowarn LED0 99
set_io -nowarn LED1 98
set_io -nowarn LED2 97
set_io -nowarn LED3 96

# Green LED
set_io -nowarn LED4 95

# IrDA port
set_io -nowarn RXD 106
set_io -nowarn TXD 105
set_io -nowarn SD 107

# Pmod connector
set_io -nowarn PIO1_02 78 # Pin 1
set_io -nowarn PIO1_03 79 # Pin 2
set_io -nowarn PIO1_04 80 # Pin 3
set_io -nowarn PIO1_05 81 # Pin 4
set_io -nowarn PIO1_06 87 # Pin 7
set_io -nowarn PIO1_07 88 # Pin 8
set_io -nowarn PIO1_08 90 # Pin 9
set_io -nowarn PIO1_09 91 # Pin 10

# Connector J1
set_io -nowarn PIO0_02 112 # Pin 3
set_io -nowarn PIO0_03 113 # Pin 4
set_io -nowarn PIO0_04 114 # Pin 5
set_io -nowarn PIO0_05 115 # Pin 6
set_io -nowarn PIO0_06 116 # Pin 7
set_io -nowarn PIO0_07 117 # Pin 8
set_io -nowarn PIO0_08 118 # Pin 9
set_io -nowarn PIO0_09 119 # Pin 10

# Connector J3
set_io -nowarn PIO2_17 62 # Pin 3
set_io -nowarn PIO2_16 61 # Pin 4
set_io -nowarn PIO2_15 60 # Pin 5
set_io -nowarn PIO2_14 56 # Pin 6
set_io -nowarn PIO2_13 48 # Pin 7
set_io -nowarn PIO2_12 47 # Pin 8
set_io -nowarn PIO2_11 45 # Pin 9
set_io -nowarn PIO2_10 44 # Pin 10

# FTDI Port B UART
set_io -nowarn DCDn 1
set_io -nowarn DSRn 2
set_io -nowarn DTRn 3
set_io -nowarn CTSn 4
set_io -nowarn RTSn 7
set_io -nowarn RS232_Tx_TTL 8
set_io -nowarn RS232_Rx_TTL 9

# SPI
set_io -nowarn SPI_SCK 70
set_io -nowarn SPI_SI 68
set_io -nowarn SPI_SO 67
set_io -nowarn SPI_SS_B 71

# Configuration pins
set_io -nowarn CDONE 65
set_io -nowarn CRESET_B 66

# 12 MHz clock
set_io -nowarn CLK 21
